Source: wlroots
Section: x11
Priority: optional
Maintainer: Arthur Gautier <baloo@superbaloo.net>
Build-Depends: debhelper (>= 9),
               meson,
               libwayland-dev,
               wayland-protocols,
               libegl1-mesa-dev,
               libgles2-mesa-dev,
               libgbm-dev,
               libinput-dev,
               libxkbcommon-dev,
               libudev-dev,
               libpixman-1-dev,
               libsystemd-dev,
               libcap-dev,
               libxcb-composite0-dev,
               libxcb-image0-dev,
               libxcb-xkb-dev,
               libxcb-icccm4-dev,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev
Standards-Version: 3.9.8
Rules-Requires-Root: no
Homepage: https://github.com/swaywm/wlroots

Package: libwlroots0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A modular Wayland compositor library
 Pluggable, composable, unopinionated modules for building a Wayland compositor

Package: libwlroots-dev
Architecture: any
Section: libs
Depends: ${misc:Depends}, libwlroots0 (= ${source:Version})
Description: A modular Wayland compositor library - headers
 Pluggable, composable, unopinionated modules for building a Wayland compositor
